/* All elements */
* {
  margin: 0;
  box-sizing: unset;
  font-family: "Inter";
}

/* Body */
body {
  background-color: #252422;
  color: #ffffff;
  text-align: center;
}

/* Header */
h1 {
  font-size: 85px;
  margin-left: 3%;
  padding-top: 30px;
  padding-bottom: 60px;
}

/* Remove underline on links and color change */
a {
  text-decoration: none;
  color: #ff0000;
}

span {
  font-size: 50px;
  color: #ff0000;
}
/* Footer */
footer {
  margin: 2%;
}

/* classes */
.btn {
  margin-top: 100px;
  padding: 22px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 22px;
  position: relative;
  width: auto; /* transition effect on class btn buttons */
  font-size: 1.6rem;
  margin: 20px;
  background-color: #252422;
  color: #ffffff;
  border-style: solid;
  border-color: #ababab;
}

.btn--quit,
.btn--play,
.btn--guide,
.btn--feedback {
  width: 160px;
}
.btn--quit {
  margin-top: 25px;
}

.btn--easy,
.btn--hard {
  width: 160px;
  margin-top: 5%;
}
.icon-style {
  margin-top: 30px;
  font-size: 50px;
  padding-bottom: 25px;
}

.timer {
  font-size: 30px;
  padding-bottom: 20px;
}
#correct {
  font-size: 30px;
  color: #37ff00;
}
#wrong {
  font-size: 30px;
  color: #ff0000;
}

.hide {
  display: none;
}

.scoreboard {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.score-text {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 50px;
  border-radius: 20px;
  border-style: groove;
  border-color: #ababab;
  padding: 15px;
}
.score-correct {
  color: #37ff00;
  font-size: 30px;
}

.score-wrong {
  color: #ff0000;
  font-size: 30px;
}

.btn-layout {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}

.icon-style {
  padding-top: 50px;
  font-size: 100px;
  color: #ffffff;
}
.icon-style-correct {
  color: #37ff00;
}
.icon-style-wrong {
  color: #ff0000;
}

.social-media {
  font-size: 60px;
}

.p-text {
  font-size: 30px;
  padding: 15px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0.5rem;
}

.p-my {
  font-size: 20px;
}

label {
  font-size: 20px;
}
input {
  width: 21em;
  padding: 15px;
  height: 1.5em;
  border-radius: 15px;
  background-color: #252422;
  margin: 20px;
  color: #ffffff;
  font-size: 20px;
}
textarea {
  width: 26.5rem;
  height: 10em;
  border-radius: 15px;
  background-color: #252422;
  color: #ffffff;
  margin: 20px;
  font-size: 20px;
}
.submit-btn {
  width: 10em;
  position: relative;
  margin-left: 90px;
  font-size: 20px;
}

.btn--x {
  border-style: none;
  font-size: 2.8rem;
  margin-left: 25%;
  margin-right: 25%;
}

.contact {
  font-size: 30px;
  margin-top: 0.5rem;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

td {
  padding: 10px;
  border-style: groove;
  border-width: 0.5px;
  border-color: #ababab;
  font-size: 20px;
  max-width: 380px;
}
img {
  max-width: 380px;
}
.btn--play,
.btn--guide,
.btn--feedback {
  margin: 30px;
  margin-left: 25%;
  margin-right: 25%;
}

.game-over {
  font-size: 40px;
  padding-bottom: 75px;
}
#game-area {
  padding: 0%;
  margin: 0;
}
/* Hover effect */

.btn:hover {
  background-color: #ababab;
  color: #252422;
  transition: all 0.5s;
  border-color: #252422;
}

.btn--quit:hover,
.btn--hard:hover {
  background-color: #ff0000;
  color: #ffffff;
  border-color: #252422;
}

.btn--easy:hover,
.btn--play:hover {
  background-color: #37ff00;
  color: #252422;
  border-color: #252422;
}

.btn--x:hover {
  color: #ff0000;
  background-color: #252422;
}

a:hover {
  color: #ffffff;
}

span:hover {
  transition: 0.7s;
}

.social-media:hover {
  transition: 0.7s;
}

.submit-btn:hover {
  background-color: #37ff00;
  color: #252422;
  border-color: #252422;
  transition: 0.5s;
}

/* Media Queries */
@media (max-width: 1440px) {
  h1 {
    font-size: 80px;
  }

  .btn {
    font-size: 1.3rem;
    border-width: 1px;
    border-radius: 20px;
    margin: 12px;
  }

  .timer {
    font-size: 40px;
  }
  .score-text {
    gap: 20px;
  }
  #correct,
  #wrong {
    font-size: 25px;
  }
  .score-correct,
  .score-wrong {
    font-size: 25px;
  }
  img {
    max-width: 250px;
  }

  .p-text {
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
  }

  td {
    font-size: 25px;
  }
  .p-my {
    font-size: 13px;
  }
  .btn--play,
  .btn--guide,
  .btn--feedback {
    margin: 15px;
    margin-left: 25%;
    margin-right: 25%;
    width: 13rem;
  }
  
}

@media (max-width: 900px) {
  h1 {
    font-size: 70px;
  }
  span {
    font-size: 55px;
  }

  .timer {
    font-size: 28px;
  }
  .score-text {
    gap: 20px;
  }
  #correct,
  #wrong {
    font-size: 25px;
  }
  .score-correct,
  .score-wrong {
    font-size: 25px;
  }
  .icon-style {
    padding-top: 25px;
    font-size: 80px;
  }
  .p-text {
    font-size: 25px;
    padding: 10px;
    margin-bottom: 15px;
  }
  img {
    max-width: 200px;
  }
  table {
    padding: 8px;
  }
  td {
    font-size: 20px;
    max-width: 200px;
  }
  .p-my {
    font-size: 13px;
  }
  .btn--play,
  .btn--guide,
  .btn--feedback {
    margin: 25px;
    margin-left: 17%;
    margin-right: 17%;
    width: 11rem;
  }
}

/* 600px */
@media (max-width: 600px) {
  h1 {
    font-size: 43px;
  }
  span {
    font-size: 30px;
  }
  .btn {
    font-size: 1rem;
    border-width: 1px;
    border-radius: 20px;
    width: 7rem;
    margin: 10px;
  }
  .timer {
    font-size: 25px;
  }
  .score-text {
    gap: 35px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #correct,
  #wrong {
    font-size: 15px;
  }
  .score-correct,
  .score-wrong {
    font-size: 15px;
  }
  .btn--x {
    font-size: 2.2rem;
  }
  .social-media {
    font-size: 40px;
  }

  .p-text {
    font-size: 19px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }
  table {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
  }
  td {
    font-size: 15px;
  }
  label {
    font-size: 18px;
  }
  input {
    width: 15em;
    padding: 18px;
    height: 1em;
    font-size: 18px;
    margin: 2px;
  }
  textarea {
    width: 17rem;
    height: 7em;
    margin: 2px;
    font-size: 15px;
    padding: 10px;
  }
  .submit-btn {
    width: 7em;
    margin-left: 10px;
    font-size: 15px;
  }
  .contact {
    font-size: 25px;
  }
  .p-my {
    font-size: 13px;
  }
  .btn--play,
  .btn--guide,
  .btn--feedback {
    padding: 12px;
    margin: 20px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.3rem;
    width: 9.5rem;
  }

  .game-over {
    font-size: 40px;
    padding-bottom: 30px;
  }
  .btn--easy,
  .btn--hard {
    margin-top: 10%;
  }
  
}

/* 375px */
@media (max-width: 375px) {
  h1 {
    font-size: 37px;
  }
  span {
    font-size: 20px;
  }
  .btn {
    font-size: 0.9rem;
    padding: 8px;
    border-width: 1px;
    border-radius: 20px;
    width: 6.5rem;
    margin: 6px;
  }
  .timer {
    font-size: 20px;
  }
  .score-text {
    gap: 35px;
    border-radius: 20px;
  }
  #correct,
  #wrong {
    font-size: 15px;
  }
  .score-correct,
  .score-wrong {
    font-size: 15px;
  }
  .icon-style {
    padding-top: 10px;
    font-size: 55px;
  }
  .btn--x {
    font-size: 2.2rem;
  }
  .social-media {
    font-size: 40px;
  }

  img {
    max-width: 125px;
  }
  .p-text {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 15px;
  }
  table {
    padding: 8px;
    margin-left: 2px;
    margin-right: 2px;
  }
  td {
    padding: 10px;
    font-size: 13px;
  }
  label {
    font-size: 15px;
  }
  input {
    width: 13em;
    padding: 10px;
    height: 1em;
    font-size: 15px;
    margin: 5px;
  }
  textarea {
    width: 13rem;
    height: 7em;
    margin: 5px;
    font-size: 15px;
    padding: 5px;
  }
  .submit-btn {
    width: 7em;
    margin-left: 10px;
    font-size: 15px;
  }
  .contact {
    font-size: 25px;
  }
  .p-my {
    font-size: 13px;
  }

  .btn--play,
  .btn--guide,
  .btn--feedback {
    margin: 20px;
    padding: 12px;
    font-size: 20px;
    width: 8.5rem;
  }
  .btn--easy,
  .btn--hard {
    margin-top: 10%;
  }
  .game-over {
    font-size: 35px;
    padding-bottom: 30px;
  }
 
}

@media (max-width: 320px) {
  h1 {
    font-size: 32px;
  }
  span {
    font-size: 18px;
  }
  .score-text {
    gap: 35px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
  }
  #correct,
  #wrong {
    font-size: 15px;
  }
  .score-correct,
  .score-wrong {
    font-size: 15px;
  }
  .icon-style {
    padding-top: 5px;
    font-size: 50px;
  }
  .btn--x {
    font-size: 2.2rem;
  }
  .social-media {
    font-size: 30px;
  }

  img {
    max-width: 125px;
  }
  .p-text {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 15px;
  }
  table {
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
  }
  td {
    padding: 2px;
    font-size: 10px;
  }
  label {
    font-size: 15px;
  }
  input {
    width: 13em;
    padding: 10px;
    height: 1em;
    font-size: 15px;
    margin: 5px;
  }
  textarea {
    width: 13rem;
    height: 7em;
    margin: 5px;
    font-size: 15px;
    padding: 5px;
  }
  .submit-btn {
    width: 7em;
    margin-left: 10px;
    font-size: 15px;
  }
  .contact {
    font-size: 25px;
  }
  .icon-style {
    font-size: 65px;
  }
  .p-my {
    font-size: 13px;
  }

  .btn--play,
  .btn--guide,
  .btn--feedback {
    margin: 15px;
    font-size: 18px;
    width: 8.5rem;
  }

  .game-over {
    font-size: 30px;
    padding-bottom: 30px;
  }
}
